{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            {{ form(form) }}
            <table class="rating">
                {% for key, value in rating %}
                    <tr>
                        <th>{{ key }}</th><td>{{ value }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}