body {
    background: #F5F5F5;
    font: 18px/1.5 sans-serif;
}
h1, h2 {
    line-height: 1.2;
    margin: 0 0 .5em;
}
h1 {
    font-size: 36px;
}
h2 {
    font-size: 21px;
    margin-bottom: 1em;
}
p {
    margin: 0 0 1em 0;
}
a {
    color: #0000F0;
}
a:hover {
    text-decoration: none;
}
#wrapper {
    background: #FFF;
    margin: 1em auto;
    max-width: 800px;
    width: 95%;
}
#container {
    padding: 2em;
}

.rating {
    width: 200px;
    margin-top: 20px;
    color: #333333;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
}
.rating th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #dedede;
}
.rating td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
}

@media (min-width: 768px) {
    @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
    @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
    .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
}